//
// Reset
//

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// Background animation
//

body {
  background-color: #ff4351;
  background-size: 56px 56px;
  background-image: linear-gradient(135deg, transparent 55%, #ff4351 55%),
    radial-gradient(
      transparent 6px,
      #ffffff 6px,
      #ffffff 10px,
      transparent 10px,
      transparent 15px,
      #ffffff 15px,
      #ffffff 19px,
      transparent 19px,
      transparent 24px,
      #ffffff 24px,
      #ffffff 28px,
      transparent 28px
    );
}
